@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

a {
	color: #DB6E82;
}
.bg {
		background-image: url('../img/bg.jpg');
		border: 8px #fff dotted;
		background-repeat: repeat;
		height: 100%;
		width: 100%;
		left: 0;
		opacity: 1;
		position: fixed;
		top: 0;
}

.content {
	height: 80vh;
	width: 80vw;
	background-color: #fff;
	margin: auto;
	margin-top: 6vh;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
    text-align: center; 
    display: none;  
	overflow: auto;
	position: relative;
 	animation: fadeItIn 5s linear both 1.1s;

}
.profile {
	width: 150px;
	height: 150px;
	max-width: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);

}

.profile:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
}


.icons {

  padding: 30px;

}

/* Icons */

.icons a {
  color:#fff;
  background: #DB6E82;
  border-radius:50%;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:40px;
  padding:12px;
  margin:10px;
   -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
	-webkit-font-smoothing: antialiased;

}

.icons a:hover {
  background: #ef92a3;
}

.icons a span {
  color:#DB6E82;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

 }

/* pop-up text arrow */

.icons a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

.icons a:hover span {
  bottom:-50px;
  visibility:visible;
  opacity:1;
}


.pres {
	animation: bounceItIn 1s linear infinite alternate;
	position: fixed;
	top: 30vh;
	text-align: center;
	color: #DB6E82;
	z-index:1; 
	width: 100%;

}

.pres h1 {
	font-family: 'Anton', sans-serif;
	font-size: 6rem;
	
}

.pres h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 6rem;

}
#skills span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: monospace;
    color: #fff;
}

progress {
    background-color: #f3f3f3;
    border: white 2px solid;
    height: 2rem;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #DB6E82;
}

progress::-webkit-progress-value {
    background-color: #DB6E82;
}

progress::-moz-progress-bar {
    background-color: #DB6E82;
}

.nav-item {
	width: 20vw;
	display: block;
	opacity: 0.5;
	height: 50px;
	text-align: center;
	line-height: 50px;
	
}

.nav-link {
	color: #000 !important;
}

.nav-item:hover {
	opacity: 0.75;
    cursor: pointer;
}

.nav-link.active {
	opacity: 1;
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	border-right: solid 4px #DB6E82;
	background-color: #fff !important;
	color: #DB6E82 !important;
}

@keyframes slidein {
  0% {
    top: 80vh;
    opacity: 0;
  }
  
  100%{
    opacity: 1;
    top: 0px;
  }
}

@keyframes bounceItIn {
  0% {
  	opacity: 1;
    transform: translateY(0px);
  }

  100% {
  	opacity: 0;
    transform: translateY(-5px);
  }    
}

@keyframes fadeItIn {
  0% {
    opacity: 0;
    margin-top: 50vh;
    /*transform: skewX(20deg);*/
  }

  100% {
    opacity: 1;
    margin-top: 6vh;
    /*transform: skewX(0deg);*/
  }    
}

.tab-content {
	padding: 50px;
}
.tab-pane {

	animation-duration: 1.75s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#info {
padding: 10px;
font-size: 1.5rem;
color: #DB6E82;
right: 0;
position: absolute;
bottom: 0;
text-align: right;
opacity: 0.8;

}

#info i {
  font-family: 'weathericons';
  font-size: 3rem;
  font-style: normal;
}