/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coda:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100vh;
    overflow: hidden;
    touch-action:none;
    cursor: crosshair;
    margin:0;
    }


.label {
  color: #c7eaf6;
  z-index: 100;
  position: relative;
  cursor: pointer;
  width: 10vh;
  font-size: 4vh;
  text-align: center;
  margin:3vh 0;

}

.label i {
  margin: 3vh;
}

.circle {

  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
  transform: translate3d(1rem, 0, 0);
  z-index: 99;
  position: absolute;
}



.circle h2, .circle h3, .circle h4 {
  left: 11vh;
color: gray;
margin: 0 0 0 11vh;
display:ruby-base;

}

input:checked + .label {
  color: white;
  z-index: 100;
}

#uno, #dos, #tres, #cuatro {
  position: relative;
  z-index: 100;
  display: flex;
  visibility: hidden;

}

#uno:checked ~ .div .circle {
  background-color: pink;
  transform: translateY(3vh);

}
#dos:checked ~ .div .circle {
  background-color: #688e8e;
  transform: translateY(19vh);
}


#tres:checked ~ .div .circle {
  background-color: #ff726b;
  transform: translateY(35vh);
}

#cuatro:checked ~ .circle {
  background: #24a6e9;
  transform: translateY(36vh);
}
#uno:checked ~ .book,
#uno:checked ~ .bg1, 
#uno:checked ~ .book2 {
  transform: translateY(0vh);
    transition:All .8s ease-out;
-webkit-transition:All .8s ease-out;
-moz-transition:All .8s ease-out;
-o-transition:All .8s ease-out;
}
#dos:checked ~ .book,
#dos:checked ~ .bg1, 
#dos:checked ~ .book2 {
  transform: translateY(-100vh);
  transition:All .8s ease-out;
-webkit-transition:All .8s ease-out;
-moz-transition:All .8s ease-out;
-o-transition:All .8s ease-out;
}

#tres:checked ~ .book,
#tres:checked ~ .bg1, 
#tres:checked ~ .book2 {
  transform: translateY(-200vh);
    transition:All .8s ease-out;
-webkit-transition:All .8s ease-out;
-moz-transition:All .8s ease-out;
-o-transition:All .8s ease-out;
}

#cuatro:checked ~ .book,
#cuatro:checked ~ .bg1,
#cuatro:checked ~ .book2,
#cuatro:checked ~ .port {
  transform: translateY(-400vh);
  

}
.bg0 {
  width: 100vw;
  height: 110vh;
  background-image: url(../img/bg.png),linear-gradient(to right, #fff, #f4c6d3);;
  background-image: url(../img/bg.png),-o-linear-gradient(to right, #fff, #f4c6d3);;
  background-image: url(../img/bg.png),-webkit-linear-gradient(to right, #fff, #f4c6d3);;
  font-family: 'Bowlby One', cursive;
  background-position: left bottom;
  position: absolute;
  background-repeat: no-repeat;
  margin-top: -10vh;
 

}
.bg0, .circle, .label {
    filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
}
 .label:hover ~ .circle, .label:hover, .bg0:hover{
      filter: none;
      -webkit-filter: grayscale(0);
   

    }


    .child-container{width:1730px;left:-710px;position:relative;}

.sentence {

  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Coda', cursive;
  font-size: 2rem;
  position: absolute;
  right: 0;
}

.sentence p {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-shadow: -10px 0 rgba(36, 166, 233, 0.4), 10px 0 rgba(219, 110, 130, 0.49);
  font-size: 4rem;
  text-align: center;
}

.sentence span{
  color: #444;
  font-size: 220%;
  font-weight: normal;
  text-align: center;

}





.words, .words-1{

  letter-spacing: -0.4px;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.07);
  text-shadow: 10px 0 106px rgba(255, 255, 255, 0.96), -10px 0 106px rgba(255, 255, 255, 0.96), 0 0 20px #ffffff, 0 0 5px  #d66b7f;  
  position: relative;
  top: -2em;
   width: 55vw;
   margin-top: -15vh;

}
.words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #24a6e9;
  -webkit-animation: rotateWord 6s linear infinite 0s;
  -moz-animation: rotateWord 6s linear infinite 0s;
  -o-animation: rotateWord 6s linear infinite 0s;
  -ms-animation: rotateWord 6s linear infinite 0s;
  animation: rotateWord 6s linear infinite 0s;
  
}

.words-1 span:nth-child(2) { 
  -webkit-animation-delay: 1.5s; 
  -moz-animation-delay: 1.5s; 
  -o-animation-delay: 1.5s; 
  -ms-animation-delay: 1.5s; 
  animation-delay: 1.5s; 
  color: #7A284B;
}

.words-1 span:nth-child(3) { 
  -webkit-animation-delay: 3s; 
  -moz-animation-delay: 3s; 
  -o-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
  color: #f3b9b9 ; 
}

.words-1 span:nth-child(4) { 
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s; 
  -o-animation-delay: 4.5s; 
  -ms-animation-delay: 4.5s; 
  animation-delay: 4.5s; 
  color: #DB6E82;
}

.words-1 span:nth-child(5) { 
  -webkit-animation-delay: 6s; 
  -moz-animation-delay: 6s; 
  -o-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
  color: #8d6b9d;
}

.pink div{
  background: linear-gradient(45deg, #688e8e 0%, #688e8e 34%, #7ac1ea 71%, #7ac1ea 100%);
}
.pink i {
  color: #688e8e;
}
.pink span {
  background: #688e8e;

}

.mail  {
    position: relative !important;
    cursor: auto !important;
    opacity: 1 !important;
    width: auto !important;
    margin: 1% auto;
    display: block;

}
a {
  color: #99cbc6;
}

progress {
    background-color: #f3f3f3;
    border: white 2px solid;
    height: 4vh;
    width: 100%;
    font-size: 0.8rem;
}



button {
background:none;
display: block;
color: white;
border-radius: 10%;
padding: 1vh 3vh;
border: 1px white solid;
margin: 2vh auto;
cursor: pointer;
  }
#correo {
  display: none;
}
.icons {
  padding: 30px;

}

.icons a {
  color:#fff;
  background: #7ac1ea;
  border-radius:50%;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width: 4vh;
  height: 4vh;
  padding: 2vh;
  margin: 2vh;
   -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;

}

.icons a:hover {
  background: #c9e5e4;
}

.icons a span {
  color:#7ac1ea;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:3vh;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

 }

.icons a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

.icons a:hover span {
  bottom:-50px;
  visibility:visible;
  opacity:1;
}

.icons i {
  font-size: 4vh;
}

.blue div {
  background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}
.blue i {
  color: #6fb8eb;
}

.blue span {
  background: #6fb8eb;
}

.ia-container {
  
   scrollbar-width:none;
  text-align: center;

}

.ia-container figure {
  
  position: absolute;
  transition: all 0.3s ease-in-out;
  }

.ia-container > figure {
    position: relative;
  left: 0 !important;

}
.im {
  overflow: hidden;
  position: absolute;
  border-radius: 1%
}

.im img {
  opacity: .5;
}

.ia-container::-webkit-scrollbar { width: 0 !important }
.ia-container img {
  display: block;
  background-repeat: repeat;
  min-height: 100%;
  width: 100%;
   transition: visibility 0s, opacity 0.5s linear;

}
.pane img {
  position: relative;
  display: inline-block;
}
.ia-container input {
  position: absolute;
  top: 100;
  left: 0;

  cursor: pointer;
  border: 0;
  padding: 0;
    opacity: 0;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


}
.ia-container input:checked{

  left: auto;
  right: 0px;
}
.ia-container input:checked ~ figure {
    
    transition: all 0.7s ease-in-out;
    
}
.ia-container figcaption {
  width: 90vw;
  height: 100%;
  position: absolute;
  transition: all 0.2s linear;
}
.pane {

  position: relative;
  z-index: -11;
  padding: 6vh;
  transition: all 0.7s ease-in-out;

  
}
.ia-container figcaption i {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  opacity: 0;
}
.ia-container figcaption span {
  position: absolute;
  top: 50%;
  left: 20%;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  padding: 1% 10%;
 
} 


.ia-container input:checked + figcaption {
  
  transition: all 1s ease-in-out 0.9s;

  border-radius: 1%

}

.ia-container input:checked ~ .pane {
  transition: all 1s ease-in-out 0.9s;
  z-index: 11;
  visibility: visible;


}
.ia-container input:checked + figcaption img {
opacity: 0;
transition: opacity 2s;
}



.ia-container #ia-selector-last:checked + figcaption span {
  transition-delay: 0.8s;
    z-index: 11;
}
.ia-container input:hover + figcaption {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

}

.ia-container input:checked ~ figure input{
    z-index: 1000;
}



h1 {

font-family: 'Amatic SC', cursive;  line-height: .9;
  margin: 0;
  font-size: 2.5rem;
}

.profile {
  width: 20vh !important;
  height: 20vh !important;
  max-width: 100% !important;
  -webkit-border-radius: 50%;
  border-radius: 50%;
 -webkit-box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
  border: 5px solid transparent;

}



 .items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    scrollbar-width:none;
    will-change: transform;
    user-select: none;
    cursor: e-resize;
  }

  .items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;

  }

._page {

  display: inline-block;
  text-align: center;
  width: 15vw;
  height: 15vw;
   border-radius: 50%;
  position: relative;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
   margin: 3%;
   overflow: hidden;
   opacity: .8;
}
._open {
  position: absolute;
  width: 100%;
  height: 100%;
 -webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}

._page:hover {
  transform: scale(1.1);
  opacity: 1
}

 .back {
  -webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  background: #ff7a73;
  opacity: 0;
}

._open> div {
  display: block;
position: absolute;
width: 90%;
height: 90%;
border-radius: 50%;
background-position: center center;
-webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
-ms-transition: all 0.4s linear;
transition: all 0.4s linear;
-webkit-transform-origin: 50% 0%;
-moz-transform-origin: 50% 0%;
-o-transform-origin: 50% 0%;
-ms-transform-origin: 50% 0%;
transform-origin: 50% 0%;
margin: 5%}

._page:hover .front {
  transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  background: #ff7a73;
  opacity: 0;

}
._page:hover .back {
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}


.back h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 1%;
}

.back p {
   color: #fff;
  font-style: italic;
  margin: 5%;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.first p {
  margin: 1%
}
.first_open {
background: url(../img/b.jpg),rgba(255, 122, 115, 0.9);
background-blend-mode: overlay;
background-size: cover;
}

.second_open {

background: url(../img/a.jpg),rgba(255, 122, 115, 0.9);
background-size: cover;
background-blend-mode: overlay;
}
.third_open {
background: url(../img/c.jpg),rgba(255, 122, 115, 0.9);
background-size: cover;
background-blend-mode: overlay;
}



.fourth_open {
background: url(../img/d.jpg),rgba(255, 122, 115, 0.9);
background-size: cover;
background-blend-mode: overlay;
}

.card__svg {
margin-top: -10vh;
}


#date {
  font-size: 4rem;

}
#t {

  z-index: 1;
text-shadow: 10px 0 106px rgba(255, 255, 255, 0.96), -10px 0 106px rgba(255, 255, 255, 0.96), 0 0 20px #ffffff, 0 0 5px #d66b7f;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;

}

.del {

  font-family: 'Neucha', cursive;


}

#iw {
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    animation: textclip 1.5s linear infinite;
    background-image: url(../img/bpink.png);
    margin:0;
    text-align: center;
    position: relative;

}

#iw i {
  text-shadow: 10px 0 106px rgba(255, 255, 255, 0.96), -10px 0 106px rgba(255, 255, 255, 0.96), 0 0 20px #ffffff, 0 0 5px #ff726b;  
  font-family: 'weathericons';
  font-size: 4rem;
  font-style: normal;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;

}
.third > .front p {
  text-transform: uppercase;
  color: #ff7a73
  
}
.port {
  display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;
flex-wrap: wrap;
max-width: 1000px;
background-color: black
}
.card {
  color: inherit;
cursor: pointer;
width: calc(33% - 2rem);
min-width: calc(33% - 2rem);
height: 400px;
min-height: 400px;
perspective: 1000px;
margin: 1rem;
position: relative;
}

@media screen and (max-width: 768px){
   .circle h2, .circle h3, .circle h4 {
  display: none;
 }


.circle {
  top: 8vw;
  width: 12vw;
  height: 12vw;

  left: 0;
}  
#uno, #dos, #tres, #cuatro{
  display: inline-block;
  margin: 0;

}
.label i {

  font-size: 6vw;
  margin:5vw;

}
.label {
  margin:0;
}

#uno:checked ~ .div .circle {

  transform: translateX(3vw);
}
#dos:checked ~ .div .circle {

  transform: translateX(20vw);
}
#tres:checked ~ .div .circle {

  transform: translateX(40vw);
}

#dos:checked ~ .book,
#dos:checked ~ .bg1, 
#dos:checked ~ .book2 {
  transform: translateY(-105vh);
  transition: transform 0.5s ease;
}

#tres:checked ~ .book,
#tres:checked ~ .bg1, 
#tres:checked ~ .book2 {
  transform: translateY(-205vh);
  transition: transform 0.5s ease;
  }

.bg0 {
  height: 110vh;
  margin-top: -20vh;
  background-size: contain;
}

.book {
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
}

.book  {
  font-weight: 800;
  color: #b1cfcf;
 }

.sentence { font-size: 18px;
  padding: 0;
  right: 30%
}

.words, .words-1 {
   top: -5em;
   width: 110vw;
   }
  
.icons {
    padding: 10px;
  }


  progress::-webkit-progress-bar {
    background-color: #DB6E82;
  }

  progress::-webkit-progress-value {
      background-color: #DB6E82;
  }

  progress::-moz-progress-bar {
    background-color: #DB6E82;
  }

.ia-container { 
    width: 90vw;
    height: 92vh;
    margin: auto;
    overflow: auto;
    padding: 0;
    margin-bottom: 15vh;
}
  
.ia-container figure { 
    height: 90vh;
    top: 8vh; 
    width: 100vw; 
    margin:0;
 }
  
.ia-container input { 
    height: 10vh;
    top: 0;
    width: 90vw;
  }
  
.ia-container input:checked ~ figure { 
    top: 60vh;
  }
 

.ia-container figcaption span { 
    font-size: 16px; 
  }
.im {
    width: 100vw;
    height: 90vh;
  }
  .ia-container img {
    width: 100vw;
  }
  .pane {
    padding: 8vh 5vw;
    width: 80vw;
    font-size: .7rem;
    color:gray;
  }
  .ia-container input:checked ~ figure {
    left: 0;
       
}
.ia-container input + figcaption i {
  left: 40%;
  top: 0;
  z-index: 11;
  
}
.ia-container input:checked + figcaption i {
  left: 10%;
  top: 0;
}
.ia-container input:checked + figcaption span {
  left: 15%;
  top: 0;
  opacity: 1;

}

.blue div {
  background: linear-gradient(230deg, #ebf4f7 0%, #f8f8f8 46%, #fefefe 100%);
      border: 1vw solid #6fb8eb;
    max-width: 88vw;

}
.pink div {
  background: linear-gradient(45deg, #db6e82 0%, #e7e7e7 34%, #d6d6d6 71%, #fefefe 100%);
    border: 1vw solid #688e8e;
    width: 88vw;

}


.book2 {
  margin:0;
}


._page {
  width: 50vw;
  height: 50vw;

}
#t {
  top: 30%;
}
}

@media screen and (min-width: 769px){
  .div {
  display: flex;
  flex-direction: column;
      width: 20vh;
    height: 40vh;
    position: absolute;
    align-items: center;

}

 .mainly {
  font-size: 5rem;
  position: absolute;
  bottom: 5%;
  right: -7%;
  z-index: 11;
  font-family: 'Amatic SC', cursive;
  transform: rotate(-8deg);
 }

   .label:hover {
    
    border-radius: 50%;

    opacity: .5;

  }
  .label:nth-child(1):hover {
    background-color: pink;

    
  }
   .label:nth-child(2):hover {
    background-color: #688e8e;
    
  }
 .label:nth-child(3):hover {
    background-color: #ff726b;
    
  }

 #uno:checked ~ .div .circle h2:after,

#uno:checked ~ .mainly:after {
  content: "home";
  letter-spacing: 1.2em;
  color: pink;

 }
 #uno:checked ~ .div .circle h3:after {
  content: "desliza para revisar"
 }
  #dos:checked ~ .div .circle h2:after,
   #dos:checked ~ .mainly:after {
  content: "more";
  letter-spacing: 1.2em;
  color: #688e8e;
 }
 #dos:checked ~ .div .circle h3:after {
  content: "información sobre mí"
 }
  #tres:checked ~ .div .circle h2:after,
   #tres:checked ~ .mainly:after {
  content: "port";
  letter-spacing: 1.2em;
  color: #ff726b;
 }
 #tres:checked ~ .div .circle h3:after {
  content: "distintos trabajos";
  
 }

input:checked + .label {
  color: white;
}

.book{
  height: 100vh;
  margin-left: 30vw;

}

.book h1 {
  position: relative;
  top: -5vh;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.book h1 span {
  font-weight: 800;
  color: #b1cfcf;
}

.sentence span p {
  text-align: justify;
}

.bg1 {
  height: 100vh;
  }

.profile:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
  }

  progress::-webkit-progress-bar {

    animation: textclip 3s linear infinite;
    background: url('../img/overlay.png') ;
  }

  progress::-webkit-progress-value {
      background-color: #DB6E82;
  }

  progress::-moz-progress-bar {

      animation: textclip 3s linear infinite;
      background: url('../img/overlay.png')#7ac1ea;
  }

  .ia-container {
  height: 120vh;
  width: 80vw;
  margin-left:20vw;

  }
 .ia-container figure {
    height: 65vh;
    top: 0;
    left: 5vw; /*  */
    width: 59vw;
    margin: 1rem 0 1rem;
  }
.ia-container .im {
  
  height: 59vh;
  width: 30vw;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3), 10px 0 0px rgba(0, 0, 0, 0.1) inset;  }

.ia-container .im:after {
  background-color: rgba(248, 247, 216, 0.7);
}
 .ia-container input {
   width: 8vw; /*  */
  height: 100%;
  }

.ia-container input:checked + figcaption .im {
  -webkit-box-shadow: -16px 24px 8px -6px rgba(89,72,77,0.41);
  -moz-box-shadow: -16px 24px 8px -6px rgba(89,72,77,0.41);
  box-shadow: -16px 24px 8px -6px rgba(89,72,77,0.41);
  height: 65vh;
  width: 55vw;
  transition: all 0.8s ease-in-out 0.9s;
  border-left: 10vw solid white
}

.pane {

  max-height: 65vh;
  margin-left: 15%;
  height: 100%;
  visibility: hidden;

  }
  .ia-container input:checked ~ figure {
    left: 60vw;
  
}
.ia-container input:hover + figcaption i {
  left: 5%;
  top: 50%;
  z-index: 11;
  color: white;
  opacity: 1
}

.ia-container input:checked + figcaption i {
   left: 5%;
  top: 50%;
  opacity: 1;
}
.ia-container input:checked + figcaption span

  {
  transition: all 0.8s ease-in-out 0.9s;
  opacity: 1;
  top: 95%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3), 10px 0 0px rgba(0, 0, 0, 0.1) inset;

}
.book2 {
  margin: 10% 0 0 40%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width:none;
  height: 100vh;
}


}

/*animacion*/ 

@keyframes textclip {
 to {
  background-position:200% center
 }
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
  5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
  20% { opacity: 0; -moz-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
  5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
  20% { opacity: 0; -o-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
  5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
  20% { opacity: 0; transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
