/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One');

body {
    font-family: 'Arimo', sans-serif;
    color: #7d766f;

}
h3 {
  visibility: hidden;
}
a {
  color: #99cbc6;
}

.bg:after , .bg0:after
  {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/overlay.png');
    opacity: 0.5

  }

.bg0{

  width: 100%;
  height: 100vh;
  position: relative;
  padding: 10px;
  z-index: 1000;
  border: 1px #faf7f2 dotted;
  background-image: url(../img/bg0.jpg);
  background-size: cover;
  font-family: 'Bowlby One', cursive;


}

.sentence{
  padding: 5%;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 10px;
  
}

.sentence span{
  color: #444;
  font-size: 180%;
  font-weight: normal;
  text-align: center;

}


.words, .words-1{
  display: inline;
  letter-spacing: -0.4px;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.07);
  text-shadow: 10px 0 106px rgba(255, 255, 255, 0.96), -10px 0 106px rgba(255, 255, 255, 0.96), 0 0 20px #ffffff, 0 0 5px  #d66b7f;  
  font-weight: 700;
  overflow-y: hidden;
  overflow-x: visible;
  text-align: center;

}
.words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #f3b9b9 ;
  -webkit-animation: rotateWord 6s linear infinite 0s;
  -moz-animation: rotateWord 6s linear infinite 0s;
  -o-animation: rotateWord 6s linear infinite 0s;
  -ms-animation: rotateWord 6s linear infinite 0s;
  animation: rotateWord 6s linear infinite 0s;
  
}

.words-1 span:nth-child(2) { 
  -webkit-animation-delay: 1.5s; 
  -moz-animation-delay: 1.5s; 
  -o-animation-delay: 1.5s; 
  -ms-animation-delay: 1.5s; 
  animation-delay: 1.5s; 
  color: #7A284B;
}

.words-1 span:nth-child(3) { 
  -webkit-animation-delay: 3s; 
  -moz-animation-delay: 3s; 
  -o-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
  color: #f3b9b9 ; 
}

.words-1 span:nth-child(4) { 
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s; 
  -o-animation-delay: 4.5s; 
  -ms-animation-delay: 4.5s; 
  animation-delay: 4.5s; 
  color: #DB6E82;
}

.words-1 span:nth-child(5) { 
  -webkit-animation-delay: 6s; 
  -moz-animation-delay: 6s; 
  -o-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
  color: #8d6b9d;
}

.date {
  position: absolute;
  background-color: #c9e5e4;
  right: 2%;
  bottom: 2%;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.date p {
  border: 2px #f3b9b9 solid;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#date {
  font-size: 4rem;
}

/*SECTION2*/
.bg {
   /* background-color: #dcd1c8;
    background-image: -webkit-linear-gradient(250deg, #dcd1c8 0%, #b5807b 100%);
    background-image: -o-linear-gradient(250deg, #dcd1c8 0%, #b5807b 100%);
    background-image: linear-gradient(340deg, #dcd1c8 0%, #b5807b 100%);
   */ 
   background-image: url(../img/bg.jpg);
   border: 1px #faf7f2 dotted;
   background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: -2;
}

.tabs {

  padding: 0;
}

.profile {
  width: 150px;
  height: 150px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);

}

.icons {

  padding: 30px;

}

.icons a {
  color:#fff;
  background: #8e3f53;
  border-radius:50%;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:40px;
  padding:12px;
  margin:10px;
   -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;

}

.icons a:hover {
  background: #c9e5e4;
}

.icons a span {
  color:#DB6E82;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

 }

.icons a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

.icons a:hover span {
  bottom:-50px;
  visibility:visible;
  opacity:1;
}

#about {
  text-align: justify;
}

.tab-pane h1 {
  font-family: 'CoreCircus', sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 
      -1px -1px 0 #DB6E82,  1px 1px 0 #DB6E82, 
      1px 0px 0px white, 0px 1px 0px white;
  font-weight: bold;
  color: white;
}
.tab-pane h1:hover {
  color: #e3ac9c;
}

#skills span {
  top: -30px;
  left: 2%;
  position: relative;
  font-weight: bolder;
  font-family: monospace;
  
}
progress {
    background-color: #f3f3f3;
    border: white 2px solid;
    height: 2rem;
    width: 100%;
    font-size: 0.8rem;
}

.nav-item {
  width: 100%;
  display: block;
  text-align: center;
  line-height: 50px;
  height: 20%;
  text-transform: uppercase;
   font-weight:400; 
  
}
 

.nav-link {
  color: #7a004d !important;
 
}
 i {
  font-size: 1.3rem;
 }


.nav-link.active {
  opacity: 1;
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-color: #ececec !important;
  color: #99cbc6 !important;

}

.tab-content {
  padding: 50px;
  text-align: center;


}

.tab-content:before {

}

button {
    background: linear-gradient(to right,#DB6E82 10%,#fff 50%,#c9e5e4 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #DB6E82;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
    border-radius: 10%;
    padding:1% 2%;
    border: 1px white solid;
    text-shadow:0px 1px 32px #2f6627;
    font-weight:bold;

  }

@media screen and (max-width: 768px){
  .sentence { font-size: 18px; }
   .nav {
    flex-wrap: nowrap;
  }
   .content {

    flex-flow: column;
    width: 95vw;
    background-color: #faf7f2;
    margin: auto;
     display: flex; 
     z-index: 1;
     position: relative;
     overflow: auto;
     min-height: 95vh;

  }
  .nav-link.active {
    border: dashed 2px #8e3f53;
  }
  .icons {
    padding: 10px;
  }

  #skills span {
    color: #fff;
  }
  progress::-webkit-progress-bar {
    background-color: #DB6E82;
  }

  progress::-webkit-progress-value {
      background-color: #DB6E82;
  }

  progress::-moz-progress-bar {
    background-color: #DB6E82;
  }

}

@media screen and (min-width: 769px){

  .sentence span p {
    text-align: justify;
  }

  .content {
    height: 60vh;
    width: 80vw;
    background-color: #faf7f2;
    margin: auto;
    margin-top: 6vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                  0 1px 2px rgba(0,0,0,0.24);
    display: flex;  
    overflow: auto;
    position: relative;
    animation: fadeItIn 5s linear both 1.1s;
    z-index: 1;
    /*border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;*/
    

  }

  .content:hover {
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
  }

  .nav{
    height: 60vh;
    position: fixed;
    max-width: 19%;
    background-color: #f9cccc;
  }

  .nav li a:after {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    letter-spacing: 2px;
    font-size: 1.6vw;

  }

  .nav li:nth-child(1):hover a:after, 
  .nav li:nth-child(1):focus-within {
    content: " HOME";
    visibility: visible;
  }

  .nav li:nth-child(2):hover a:after, 
  .nav li:nth-child(2):active h3:after {
    content: " ABOUT";

  }
  .nav li:nth-child(3):hover a:after,
  .nav li:nth-child(3):active h3:after{
    content: " SKILLS";
  }

  .nav li:nth-child(4):hover a:after,
  .nav li:nth-child(4):active h3:after {
    content: " PORTFOLIO";
  }
  .nav li:nth-child(5):hover a:after, 
  .nav li:nth-child(5):active h3:after{
    content: " CONTACTO";
  }

  .nav-item:hover {
    opacity: 0.75;
    cursor: pointer;


  }
  .nav-link.active {
    border-right: solid 4px #99cbc6;
  }
  .nav-item {

    display: inline-block;
    width: 100%;
  }
  .profile:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
  }
  #skills span {
    color: #DB6E82;
  }

  progress::-webkit-progress-bar {
    animation: textclip 3s linear infinite;
    background: url('../img/overlay.png');
  }

  progress::-webkit-progress-value {
      background-color: #DB6E82;
  }

  progress::-moz-progress-bar {

      animation: textclip 3s linear infinite;
      background: url('../img/overlay.png');
  }
  #info {
     font-size: 2rem;
     padding: 10px;
     text-align: right;
  }
}


#info {
   
    color: #111;
    position: absolute;
    bottom: 0;
    font-family: 'Shadows Into Light', sans-serif;    
    background: linear-gradient(to right,#DB6E82 10%,#fff 50%,#c9e5e4 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;

    animation: textclip 1.5s linear infinite;
    }

#info i {
  text-shadow: 10px 0 106px rgba(255, 255, 255, 0.96), -10px 0 106px rgba(255, 255, 255, 0.96), 0 0 20px #ffffff, 0 0 5px  #d66b7f;  
  font-family: 'weathericons';
  font-size: 3rem;
  font-style: normal;
  padding: 10px;
  border-radius: 20%;
  color: white;
  -webkit-text-fill-color: transparent;

}


/*animacion*/ 

@keyframes textclip {
 to {
  background-position:200% center
 }
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
  5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
  20% { opacity: 0; -moz-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
  5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
  20% { opacity: 0; -o-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
  5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
  20% { opacity: 0; transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes slidein {
  0% {
    top: 80vh;
    opacity: 0;
  }
  
  100%{
    opacity: 1;
    top: 0px;
  }
}